#header{
    position:fixed;
    top:0px;
    width:100%;
}
.header-container{
    background:#fff;
    border-bottom:none;

}
.header-logo{
    text-align:center;
    height:150px;

    text-align:center;
    margin-top:75px;

}

.headroom--fixed {
    position: fixed;
    z-index: 9;
    height:50px;
    max-height:50px;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: transform 0.5s ease-in-out;
}
.headroom--unpinned {
    top: -50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.headroom--pinned {
   top: 100;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.imgLogo{
    width:75px;
    margin-bottom:10px;
}

.navbar {
    height:50px;
    text-align:center;
    width:100%;
    overflow:hidden;
    background:#eaeaea;
    width:100%;
    display:block;
    border-bottom:solid 2px #333;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    margin:0;
    padding:0;
}

.navbar a{

}
.navbar a:hover{

}
.navbar ul {
    display:inline-block;
    padding:0;
    margin:0;

}
.navbar ul li {
    display:inline-block;
}

.navbar ul.menu-shortcuts{

}
.navbar ul.menu-shortcuts li a {
    height:37px;
    color:#000;
    display:inline-block;
    padding:6px;
    margin:5px 3px;
    text-transform: uppercase;

    text-decoration:none;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size:16px;

    border:solid 1px #eaeaea;
    background: #eaeaea;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.navbar ul.menu-shortcuts li a:hover {
    background:#f8f8f8;
    background:#333;
}
.navbar .menu-shortcuts li img{
    width:20px;
}
.navbar .menu-links{
    cursor: pointer;
    margin:0px 40px 0px 40px;
}
.navbar .menu-links li a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:18px;
    margin-right:5px;
    height:37px;
    color:#333;
    display:inline-block;
    padding:6px;
    margin:5px 3px;
    text-transform: uppercase;

    text-decoration:none;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;




}
.navbar .menu-links li a:hover{
    color:#fd6400;
}
.navbar .menu-links li img{
    width:16px;margin-right:3px;
}

ul.menu-btn{
    list-style-type:none;
    right:80px;
}
.menu-btn > li > a {
    height:37px;
    color:#fff;
    background:#fc6400;
    display:inline-block;
    padding:6px;
    padding-top:8px;
    margin:5px 3px;
    text-transform: uppercase;

    text-decoration:none;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size:14px;
    cursor: pointer;
    border:solid 1px #eee;


    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


}
ul.menu-btn > li > a:hover {
    background:#e75c01;
    color:#eee;

}
ul.menu-btn li a img{
    margin:-2px 5px 0px 0px;
    width:16px;
}
.btn-open:after {
    padding:0;
    margin:0;
    color:#fff;
    content:"\f0c9";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;


}
.btn-open:hover{
    background:#fc6400;
}
.btn-open:hover:after {


}
.button-menu .btn-close {
    cursor: pointer;
}
.button-menu .btn-close:after {
    position:absolute;
    right:20px;
    top:20px;
    z-index: 9999;
    color:#fff;
    font-size:36px;
    content:"\f00d";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
    color:#FD6400;
}


.button-cart a{
    background:#eaeaea;
}
#cart-holder{
    display:none;
}
