





/*overlay*/
.overlay {
	//display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#333333;
	overflow:auto;
	z-index:9;

}
.overlay-header{
	text-align: center;
	width:100%;
}
.overlay-header img{
	display:inline-block;
	margin:20px;
	width:75px;
}
ul.menu-wrap{
	margin:0;
	padding:0;
}
ul.menu-wrap > li{
	list-style-image: none;
	line-height:45px;
	border-bottom:solid 1px #ccc;
	padding:5px 25px 25px 25px;
}
ul.menu-wrap > li > h3{
	color:#fc6400;
	text-transform: uppercase;
	font-size:22px;
	font-style:bold;
	margin-left:100px;
}
ul.menu-wrap > li > h3 > i{
	position:absolute;
	color:#666;
	left:20px;
	margin-top:50px;
}
ul.menu-wrap li a{
	margin:15px;
	color:#fff;
	font-size:20px;
}

ul.overlay-list{
	margin-left:50px;
}

ul.overlay-list li{
	display:inline-block;
}











.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	border-bottom:1px solid #575757;
	text-transform:capitalize;
	padding:50px 0px 100px;

}
.wrap ul.wrap-nav li {
	display:inline-block;
	vertical-align:top;
	width:40%;
	position:relative;
	text-transform: uppercase;
}
.wrap span{
	font-size:18px;
	text-transform:uppercase;
}
.wrap ul.wrap-nav li a {
	color:#34B484;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;

}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav li a::first-letter{
	color:#FC6400;
	font-size:26px;
	font-style:italic;
	font-weight: bold;
	margin-right:4px;
}


.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:16px;
	width:100%;
	color:#e9e9e9;
	text-transform: capitalize;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
	font-size:18px;
}
.wrap ul.wrap-nav ul li a:hover {
	color:#FD6400;
}

ul.wrap-nav h3{
	font-size:26px;
	color:#3a7211;
	font-weight:bold;
}




@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
	nav ul {

	}

}
